body {
    font-weight: 600;
    background: rgb(50, 171, 207);
    font-size: 20px;
}

.titre {
    margin: 30px;
}

.button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    height: 30px;
}

.bold {
    font-weight: bolder;
    margin: 10px;
}

.italic {
    font-style: italic;
    margin: 10px;
}

.boxtext {
    margin: 10px;
    justify-content: center;
}

.contenu {
    text-align: center;
    height: 150px;
    width: 50%;
    border: 5px solid rgb(18, 0, 117);
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
}

.progressBar {
    height: 20px;
    width: 50%;
    border: 2px solid rgb(18, 0, 117);
    margin: 10px;
    background-color: rgb(190, 45, 26);
}

.emptybar {
    height: 20px;
    width: 0%;
    border: 2px solid rgb(18, 0, 117);
    margin: 10px;
    background-color: green;
}

.compteur {
    display: flex;
    justify-content: left;
    color: blue;
}

#nombre {
    resize: none;
}

.container {
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.titre2 {
    margin: 10px;
}

#icon {
    visibility: hidden;
    height: 50px;
    margin: 5px;
}